body {
    background-color: green;
    font-family: 'Courgette', cursive;
    font-size: 5vw;
}

i {
    font-size: 10vw;
}

#foot {
    rotate: 180deg;
}

#deck {
    background-image: url("img/decksback.jpg");
    background-color: black;
    background-size: cover; 
    background-position: center;
}

#down {
    background-image: url("img/decksback.jpg");
    background-color: black;
    background-size: cover; 
    background-position: center;
}